<?xml version="1.0" encoding="UTF-8"?>
<businessProcessConfig xmlns="http://www.webmethods.com/bpm/2006/">
  <stages/>
  <qualityOfService expressPipeline="true" minLogLevel="5"
    optimizeLocally="true" volatileTracking="false" volatileTransition="true"/>
  <edaIntrinsics processErrorEvent="false" processEvent="false"
    processLogCustomIdEvent="false" processLogEvent="false"
    stepErrorEvent="false" stepEvent="false" stepLoopEvent="false" stepTransitionEvent="false"/>
  <easeOfOperations enableProcessForTrackingInTarget="false"
    enableProcessInTarget="false" stepsEnabledForResubmitInTarget="S32:Process terminated with Bad Order:true##S15:Order Doc received:true##S26:Is Valid?:true##S17:Map to Canonical:true##S28:Write Bad Order:true##S16:Validate Order:true##S38:Review Bad Order.:true##S19:Process terminated:true##S18:Insert ORMS:true##"/>
</businessProcessConfig>
